* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 2%;
}

td {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.perimeter {
    background-image: radial-gradient(ellipse farthest-side at center center,rgb(255, 255, 11) 0%,rgb(138, 238, 0) 100%);
}


.diagonal {
    background-color: orange;
}

.antidiagonal {
    color: orange;
    text-transform: uppercase;
    font-weight: 700;
}
